# IntelliJ IDEA specific files
.idea/
*.iml
*.ipr
*.iws
out/
*.class

# Maven target directory
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/

# Logs
*.log
*.log.*

# OS-specific files
.DS_Store
Thumbs.db

# Java & compiled files
*.jar
*.war
*.ear
*.class

# Selenium WebDriver binaries (if stored locally)
chromedriver.exe
chromedriver
geckodriver
geckodriver.exe

# Test reports
surefire-reports/*            
!surefire-reports/emailable-report.html
test-output/

# Environment / config files
*.env
